@tailwind base;
@tailwind components;
@tailwind utilities;
.contain{
  background-color: var(--bg);
  color: var(--textColor);
}

.dark {
  --bg: #131314;
  --bgSecondary: #1e1f20;
  --textColor: #444746;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

.light {
  --bg: white;
  --bgSecondary: #f1f5f9;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

:root {
  min-height: 100vh;
  min-width: 100vh;
}

body .flexer {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  align-items: center;
  height: 100vh;
  margin: 0;
  width: 100vh;
}


.flexer{
  /* font-family: Arial, sans-serif; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  width: 100vh;

}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  width: 100%;
}

.login-container img {
  height: 8vh; /* Adjust the value as needed */
}


.login-box {
  /* background: white; */
  padding: 2rem;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 50vh;
  text-align: center;
  margin-top: 15vh;
}

.login-box h1 {
  margin-bottom: 1.5rem;
  font-size: 4.5vh;
  font-weight: bolder;
}

.input-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button, .google-login-button {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #787878;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button {
  background-color: #2d9175;
  color: white;
}

.google-login-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-login-button img {
  width: 20px;
  margin-right: 8px;
}

.google-login-button:hover {
  background-color: #b0b0b1;
}

.login-button:hover {
  background-color: #45a049;
}

.divider {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider span {
  background: white;
  padding: 0 1rem;
  color: #777;
}

.divider:before, .divider:after {
  content: '';
  flex: 1;
  height: 1px;
  background: #ccc;
  margin: 0 1rem;
}
